@model PagedList.IPagedList<CalvaryOpebBibleWebsite.Models.Image>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Photo Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="width:90%; margin-left:5%">
    <h2>Photo Admin</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <br />

    <table style="margin-left:5%;margin-top:5% ;width:90%; height:90%; background: #fff;border-radius: 5px;box-sizing: border-box; border-color:#222">
        <tr style="height:350px;">
            @foreach (var item in Model.Where(s => s.Category == "Youth Group" || s.Category == "Community Groups" || s.Category == "Kids" || s.Category == "Sunday Church"))
            {

                <td style="float:left; margin:2.5%;height:250px; width:250px">
                    <a href="@Url.Action("ViewImage","Images", new { id = item.ID})"><img style="max-height:250px; max-width:250px" src="@Url.Content(item.ImagePath)" class="thumbnail" /></a>

                    <p> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @Html.ActionLink("Delete", "Delete", new { id = item.ID })</p>



                </td>
            }
        </tr>
        <tr style="max-height:350px;">
    @foreach (var item in Model.Where(s => s.Category == "Video"))
    {

        <td style="float:left; margin:2.5%;max-height:250px; max-width:250px">
            <video style="max-height:250px; max-width:250px" src="@Url.Content(item.ImagePath)" controls />
            <br />
            </td>
    <td style="float:left;"> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>

    }
</tr>





    </table>



    @Html.PagedListPager(Model, page => Url.Action("Admin",
    new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount


</div>

