@model PagedList.IPagedList<CalvaryOpebBibleWebsite.Models.Image>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="max-width:2200px;min-width:300px; overflow:auto  ">

    <h2 style="margin-left:40%; width:20%;">Calvary Photos</h2>

    <br />
    <br />
    <a href="~/Images/Index" style="color:black;margin-left:10%;font-size:18px;">All Photos</a>
    <a href="~/Images/Kids" style="color:black;margin-left:6%;font-size:18px;">Kids</a>
    <a href="~/Images/YouthGroup" style="color:black;margin-left:6%;font-size:18px;">Youth Group</a>
    <a href="~/Images/CommunityGroups" style="color:black;margin-left:6%;font-size:18px;">Community Groups</a>
    <a href="~/Images/SundayChurch" style="color:black;margin-left:6%;font-size:18px;">Sunday Church</a>
    <a href="~/Images/Videos" style="color:black; margin-left:6%;font-size:18px;">Videos</a>




    <table style="margin-left:5%;margin-top:1% ;width:90%; height:90%; background: #fff;border-radius: 5px;box-sizing: border-box; border-color:#222">
        <tr>
            @foreach (var item in Model.Where(s => s.Category == "Youth Group" || s.Category == "Community Groups" || s.Category == "Kids" || s.Category == "Sunday Church"))
            {

                <td style="float:left; margin:2.5%;max-height:250px; max-width:250px">
                    <a href="@Url.Action("ViewImage","Images", new { id = item.ID})"><img style="max-height:225px; max-width:225px" src="@Url.Content(item.ImagePath)" class="thumbnail" /></a>

                </td>

            }
        </tr>


    </table>



    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount


</div>