@model PagedList.IPagedList<CalvaryOpebBibleWebsite.Models.Event>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="width:90%; margin-left:5%; ">

   
    <div style="width:10%;float:left">
        <h2 >Events </h2> 
        <br />
        <p  >
            @Html.ActionLink("All Events", "AdminAll")
            @Html.ActionLink("Current Events", "Admin")
            @Html.ActionLink("Create New", "Create")
        </p>
       
    </div>
    <div style=" width:30%; float:left;margin-left:60%">
        @using (Html.BeginForm("Admin", "Event", FormMethod.Get))
        {
            <br />            <br />            <br />            <br />            <br />            <br />            <br />
            <p>
                Search Events: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)<input type="submit" value="Search" />
            </p>
        }
    </div>
    <table class="table" style=' background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222'>
        <tr>

            <th style="width:10%;">
                @Html.ActionLink("Ministry", "Admin", new { sortOrder = ViewBag.MinistrySortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th style="width:10%;">
                Name
            </th>
            <th style="width:10%;">
                Location
            </th>

            <th style="width:15%;">
                Description
            </th>
            <th style="width:10%;">
                @Html.ActionLink("Date", "Admin", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>

            <th style="width:10%;">
                Time
            </th>


            <th></th>
        </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td style="width:10%;">
                            @Html.DisplayFor(modelItem => item.EventMinistry)
                        </td>
                        <td style="width:10%;">
                            @Html.Raw(item.EventName.Replace(Environment.NewLine, "<br/>"))
                        </td>
                        <td style="width:10%;">
                            @Html.Raw(item.EventLocation.Replace(Environment.NewLine, "<br/>"))
                        </td>

                        <td style="width:15%;">
                            @Html.Raw(item.EventDescription.Replace(Environment.NewLine, "<br/>"))
                        </td>
                        <td style="width:10%;">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>

                        <td style="width:10%;">
                            @Html.DisplayFor(model => item.EventTime)
                        </td>
                        <td style="width:10%;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.EventID })
                            @Html.ActionLink("Details", "Details", new { id = item.EventID })
                            @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                        </td>
                    </tr>
                }

    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Admin",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
            