@model IEnumerable<CalvaryOpebBibleWebsite.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="width:90%; margin-left:5%; ">
    <h2>Admin</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventMinistry)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventCoordinator)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th style="width:7%;">
                @Html.DisplayNameFor(model => model.EventTime)
            </th>

            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width:7%;">
                    @Html.Raw(item.EventType.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td style="width:7%;">
                    @Html.DisplayFor(modelItem => item.EventMinistry)
                </td>
                <td style="width:7%;">
                    @Html.Raw(item.EventName.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td style="width:7%;">
                    @Html.Raw(item.EventLocation.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td style="width:7%;">
                    @Html.Raw(item.EventCoordinator.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td style="width:20%;">
                    @Html.Raw(item.EventDescription.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td style="width:7%;">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td style="width:7%;">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="width:7%;">
                    @Html.DisplayFor(model => item.EventTime)
                </td>
                <td style="width:5%;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) 
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                </td>
            </tr>
        }

    </table>
</div>