@model CalvaryOpebBibleWebsite.Models.Event

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="width:90%; margin-left:5%; ">
    <h2>Details</h2>

    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal" style="width:49%; float:left">
            <dt style="margin-bottom:1%">
                Event Type:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventType.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style="margin-bottom:1%">
                Event Ministry:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.EventMinistry)
            </dd>

            <dt style="margin-bottom:1%">
               Event Name:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventName.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style="margin-bottom:1%">
              Event Location:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventLocation.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style="margin-bottom:1%">
              Event Coordinator:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventCoordinator.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style ="margin-bottom:1%">
               Start Date:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt style="margin-bottom:1%">
               End Date:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt style="margin-bottom:1%">
               Event Time:
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.EventTime)
            </dd>
        </dl>
        <dl class="dl-horizontal" style="width:51%; float:right">
            <dt>
                Event Description:
            </dt>
            <dd>
                @Html.Raw(Model.EventDescription.Replace(Environment.NewLine, "<br/>"))
            </dd>
        </dl>
    </div>
    <p style="margin-right:60%">
        @Html.ActionLink("Back to Events", "Index")
        <br /><br />
        @Html.ActionLink("Back to Calendar", "Calendar")

    </p>
</div>