@model CalvaryOpebBibleWebsite.Models.Event

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="width:90%; margin-left:5%; ">
    <h2>Details</h2>

    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal" style="width:49%; float:left">
            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EventType)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventType.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EventMinistry)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.EventMinistry)
            </dd>

            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventName.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EventLocation)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventLocation.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EventCoordinator)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.Raw(Model.EventCoordinator.Replace(Environment.NewLine, "<br/>"))
            </dd>

            <dt style ="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt style="margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EventTime)
            </dt>

            <dd style="margin-bottom:1%">
                @Html.DisplayFor(model => model.EventTime)
            </dd>
        </dl>
        <dl class="dl-horizontal" style="width:51%; float:right">
            <dt>
                @Html.DisplayNameFor(model => model.EventDescription)
            </dt>
            <dd>
                @Html.Raw(Model.EventDescription.Replace(Environment.NewLine, "<br/>"))
            </dd>
        </dl>
    </div>
    <p style="margin-right:60%">
        @Html.ActionLink("Back to Events", "Index")
        <br /><br />
        @Html.ActionLink("Back to Calendar", "Calendar")

    </p>
</div>