@model IEnumerable<CalvaryOpebBibleWebsite.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="max-width:2200px;min-width:300px; overflow:auto  ">

    <div style="width:80%; margin-left:10%">
        <h2 style="text-align:center;">Welcome to our Contact Page</h2>
        <br />
        <br />
        <p style="text-align:center;">
            Below you will find all our current staff and their contact information.  For any other questions feel free to email, call, or stop by the church office during our office hours.
        </p>
        <br />
        <br />
    </div>
    <table class="table" style="  background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222;width:50%;float:left; margin-right:5%">
   
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

      
            <th>
                @Html.DisplayNameFor(model => model.Telphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

            @foreach (var item in Model)
            {

<tr>            
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
          
           
                <td>
                    @Html.DisplayFor(modelItem => item.Telphone)
                </td>
         
         
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

            </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>

    </tr>
            }

    </table>



    <table class="table" style=' background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222;width:45%;'>
      
        <tr>
            <th>Email</th>
            <td>
                mailbox@calvaryopenbible.org
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>Phone</th>
            <td>
                541-747-7125
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>Fax</th>
            <td>
                541-747-1492
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>Address</th>
            <td>
                1116 Centennial Blvd, Springfield, OR 97477
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>Office Hours</th>
            <td>
                Monday - Thursday 9am - 5pm
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>

        </tr>
    </table>


</div>