@model IEnumerable<CalvaryOpebBibleWebsite.Models.Ministries>

@{
    ViewBag.Title = "Adults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MinistriesLeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinistriesPosition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MinistriesLeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinistriesPosition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MinitriesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MinitriesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MinitriesID })
        </td>
    </tr>
}

</table>
