@model CalvaryOpebBibleWebsite.Models.Ministries

@{
    ViewBag.Title = "Ministry Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Details</h2>

    <div>
        <h4>Ministries</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MinistriesLeader)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MinistriesLeader)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MinistriesPosition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MinistriesPosition)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MinistriesType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MinistriesType)
            </dd>
         
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MinitriesID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>