@model CalvaryOpebBibleWebsite.Models.Ministries

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ministries</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MinitriesID)

            <div class="form-group">
                @Html.LabelFor(model => model.MinistriesLeader, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinistriesLeader, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MinistriesLeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinistriesPosition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinistriesPosition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MinistriesPosition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinistriesType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MinistriesType, new SelectList(
                  new List<Object>{
                       new { value = "Children" , text = "Children"  },
                       new { value = "Middle School"  , text = "Middle School" },
                       new { value ="High School" , text = "High School"},
                       new { value = "College" , text = "College"},
                       new { value ="Community Groups" , text = "Community Groups"},
                       new { value ="Adults" , text = "Adults"},
                       new { value ="Seniors" , text = "Seniors"}


                    },
                  "value",
                  "text",
                   2))


                    @Html.ValidationMessageFor(model => model.MinistriesType, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
   
   
</div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>