@model IEnumerable<CalvaryOpebBibleWebsite.Models.Ministries>

@{
    ViewBag.Title = "Ministries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="width:90%; margin-left:5%; ">
    <h2 style="width:20%; float:left">Ministry Leaders</h2>
    <br />

    <table class="table" style='margin-top:5%; width:35%; background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222'>

                <tr>
                     <th>
                          Ministry Leader
                    </th>
                <th>Position</th>
                <th>Ministry</th>
                 </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MinistriesLeader)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.MinistriesPosition)
            </td>
            <td>
           @switch (item.MinistriesType)
           {
               case "Adults":
                @Html.ActionLink(item.MinistriesType, item.MinistriesType, "Ministries")
                   break;
               case "Children":
                    @Html.ActionLink(item.MinistriesType, item.MinistriesType, "Ministries")
                   break;
               case "College":
                    @Html.ActionLink(item.MinistriesType, item.MinistriesType, "Ministries")
                   break;
               case "Middle School":
                    @Html.ActionLink(item.MinistriesType, "MiddleSchool", "Ministries")
                   break;
               case "High School":
                    @Html.ActionLink(item.MinistriesType, "HighSchool", "Ministries")
                   break;
               case "Seniors":
                    @Html.ActionLink(item.MinistriesType, item.MinistriesType, "Ministries")
                   break;
               default:
            @Html.ActionLink(item.MinistriesType, item.MinistriesType, "Ministries")
                   break;
           }
           </td>


        </tr>
        <tr><td></td><td></td><td></td></tr>
    }

    </table>
 
</div>