@model IEnumerable<CalvaryOpebBibleWebsite.Models.MinistriesViewModel>

@{
    ViewBag.Title = "MiddleSchool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="max-width:2200px;min-width:300px; overflow:auto  ">
    <h2 style="text-align:center;">Middle School</h2>
    <br />
    <br />
    <div style="text-align:center">
        <a href="~/Ministries/Adults" style="color:black;font-size:16px;">Adults</a>
        <a href="~/Ministries/Children" style="color:black;margin-left:4%;font-size:16px;">Children</a>
        <a href="~/Ministries/MiddleSchool" style="color:black;margin-left:4%;font-size:16px;">Middle School</a>
        <a href="~/Ministries/HighSchool" style="color:black;margin-left:4%;font-size:16px;">High School</a>
        <a href="~/Ministries/College" style="color:black;margin-left:4%;font-size:16px;">College</a>
        <a href="~/Ministries/CommunityGroups" style="color:black;margin-left:4%;font-size:16px;">Community Groups</a>
        <a href="~/Ministries/Seniors" style="color:black;margin-left:4%;font-size:16px;">Seniors</a>
    </div>
    <br />
    <br />
</div>
<div class="jumbotron" style="max-width:2200px;min-width:300px; overflow:auto ">
    <table class="table" style="width:25%; padding-top:5%; float:left; background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222">
        <tr>
            <th>
                Ministry Leaders:
            </th>
        </tr>
        <tr>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            if (item.MinistriesLeader != null)
            {

                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.MinistriesLeader)
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinistriesPosition)
                    </td>

                </tr>
                <tr>
                    <td></td>
                </tr>
            }
        }
    </table>


    <div class="Events" style="width:70%; float:left;margin-left:2%">
        <table class="table" style=' background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222'>
            <tr>
                <th>
                    Weekly Events
                </th>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <th>
                    Event Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Event Time
                </th>
                <th>
                    Event Description
                </th>
            </tr>

            @foreach (var item in Model.Where(i => i.EventType == "Weekly Events").OrderBy(i => i.StartDate))
            {

                <tr>

                    <td>
                        <a href="@Url.Action("Details", "Event", new { id = item.EventID })">   @Html.DisplayFor(modelItem => item.EventName)</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTime)
                    </td>
                    <td style="width:60%">
                        @Html.DisplayFor(modelItem => item.EventDescription)
                    </td>
                </tr>

            }

        </table>
        <table class="table" style=' background: #fff;color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222; align-content:center'>
            <tr>
                <th>
                    Upcoming Events
                </th>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <th>
                    Event Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Event Time
                </th>
                <th>
                    Event Description
                </th>
            </tr>
            @foreach (var item in Model.Where(i => i.EventType == "Upcoming Events").OrderBy(i => i.StartDate))
            {
                <tr>

                    <td>
                        <a href="@Url.Action("Details", "Event", new { id = item.EventID })">   @Html.DisplayFor(modelItem => item.EventName)</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTime)
                    </td>
                    <td style="width:60%">
                        @Html.DisplayFor(modelItem => item.EventDescription)
                    </td>
                </tr>
            }

        </table>

    </div>
    <a href="~/Ministries/Index" style="color:black;margin-left:2%;font-size:18px;">Ministries Home</a>

</div>