@model IEnumerable<CalvaryOpebBibleWebsite.Models.MinistriesViewModel>

@{
    ViewBag.Title = "MiddleSchool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Ministry Leaders</h2>
    <div style="width:25%; padding-top:5%;">
       
        <table class="table">
            @foreach (var item in Model)
            {
                if (item.MinistriesLeader != null) {
                <tr>
                    <th>
                        Ministry Leader:
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinistriesLeader)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinistriesPosition)
                    </td>

                </tr>
            }
            }
        </table>
       
    </div>
    <div class="Picture">
        <img align="left" alt="" height="283" src="http://media1.razorplanet.com/share/510327-3657/siteImages/MiddleSchoolTeachingTeam_01.jpg"
             style="margin: 0px 0px 15px 10px" title="" width="250">
    </div>
    <div class="Body">
        <h2>On Sunday mornings...</h2>
        <p>
            We have amazing leaders who prepare a weekly lesson tailored for middle school students to grow, be affirmed,
            and connect with their peers.They will be a part of the service with the adults until the time they are released
            to participate in their own class.They are dismissed at the conclusion of the service so that they can locate their
            parents in the atrium.
        </p>
        <h2>Youth Group on Thursday Nights...</h2>
        <p>
            Combined Middle School / High School from 7-8:30pm in the Gym.
            (Please check home page calendar to verify current week.)
        </p>
    </div>
    <div class="Links">

    </div>
    <div class="Downloads">

    </div>
    <div class="Events">
        <div class="Events">
            <table class="table">
                <tr>
                    <th>
                        Weekly Events:
                    </th>
                </tr>
                @foreach (var item in Model.Where(i => i.EventType == "Weekly Events"))
                {
                     if (item.StartDate != DateTime.Parse("1/1/0001 12:00:00 AM")) { 

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDescription)
                        </td>
                    </tr>
                }
                }
            </table>
            <table class="table">
                <tr>
                    <th>
                        Upcoming Events:
                    </th>
                </tr>
                @foreach (var item in Model.Where(i => i.EventType == "Upcoming Events"))
                {
                 if (item.StartDate != DateTime.Parse("1/1/0001 12:00:00 AM")) { 
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDescription)
                        </td>
                    </tr>
                }
                }
            </table>
        </div>
</div>